article img {
  max-width: 150px;
}

canvas {
  border: 1px solid black;
}

#download {
  background-color: green;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-decoration: none;
}
